{{!--
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> --}}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{{!--
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->
{{#if ok}}
<div class="alert alert-success" role="alert">
    Thêm thành công
</div>
{{/if}}

<form class="form-horizontal" action="/admin/book/add" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>Thêm sách</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_id">ID</label>
            <div class="col-md-4">
                <input id="product_id" name="idbook" placeholder="ID Sách" value="s00" class="form-control input-md"
                    required="" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Tên sách</label>
            <div class="col-md-4">
                <input id="product_name" name="name" placeholder="Tên Sách" class="form-control input-md" required=""
                    type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name_fr">Tác giả</label>
            <div class="col-md-4">
                <input id="product_name_fr" name="author" placeholder="Tên tác giả" class="form-control input-md"
                    required="" type="text">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_categorie">Thể loại</label>
            <div class="col-md-4">
                <select id="idcategory" name="idcategory" class="form-control">
                    <option value="tn">Thiếu nhi</option>
                    <option value="kt">Kinh tế</option>
                    <option value="tl">Tâm lý</option>
                    <option value="vh">Văn học</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="available_quantity">Số lượng</label>
            <div class="col-md-4">
                <input id="available_quantity" name="number" placeholder="Số lượng" value="100"
                    class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_weight">Ngày xuất bản</label>
            <div class="col-md-4">
                <input id="product_weight" name="publishdate" placeholder="2022/05/26" value="2022-05-01"
                    class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_weight">Trạng thái</label>
            <div class="col-md-4">
                <input id="product_weight" name="status" placeholder="Trạng thái" value="Sẵn hàng"
                    class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">Mô tả sách</label>
            <div class="col-md-4">
                <textarea class="form-control" id="product_description" name="description"
                    value="Sách mới nhập về"></textarea>
            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="stock_alert">Giá</label>
            <div class="col-md-4">
                <input id="stock_alert" type="number" name="price" placeholder="Giá" class="form-control input-md"
                    required="" type="text" value="50000">

            </div>
        </div>

        <!-- Search input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="stock_critical">Link hình ảnh</label>
            <div class="col-md-4">
                <input id="stock_critical" name="imgurl" placeholder="URL hình ảnh" class="form-control input-md"
                    required="">

            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4">
                    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
                </div>
            </div>

    </fieldset>
</form>