<div class="row my-4">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>Danh sách khách hàng</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                #Username</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Tên</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Phone
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Địa chỉ
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each clients}}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">

                                    <h6 class="mb-0 text-sm">{{this.username}}
                                    </h6>

                                </div>
                            </td>
                            <td class=" text-center">
                                <p class="text-xs font-weight-bold mb-0">{{this.name}}</p>
                            </td>
                            <td class="text-center">
                                <p class="text-xs font-weight-bold mb-0">{{this.phone}}</p>

                            </td>
                            <td class="text-center">
                                <p class="text-xs font-weight-bold mb-0">{{this.address}}</p>

                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>